---
---

<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114351518-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114351518-1');
</script>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}

  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}

  <title>marinsekesan.com</title>
  <meta name="author" content="Marin Sekesan">
  <meta name="description" content="Melbourne based freelance Information Architect, Visual Designer and Brand Designer.">

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/marinulon.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">


  <!-- javascript -->
  {% include javascript.html %}

</head>
<body class="top">

  <section class="intro">

    <div class="intro__logo"></div>

    <h1 class="intro__title">Hi, I'm Marin Sekesan.<br />A Melbourne based UX Designer.</h1>

    <h2 class="intro__summary"></h2>
<h3>With an education in both Graphic Design, User Experience Design and Audio Engineering, I have spent the past 15 years developing my passion for functional design.</h3>

        <p>Delivering intuitive design for well established Australian organisations, government, universities and innovative startups alike.</p>

        <p>My knowledge of web standards and compliant HTML and CSS enables me to design responsive, touch screen optimised interfaces that are accessible to as many people as possible.</p>
        
    <p>I'm currently employed at <a href="https://www.previousnext.com.au/" target="_blank">PreviousNext</a> and also play guitar in a band called <a href="http://kalacoma.com" target="_blank">Kalacoma</a>.</p>

    <p class="intro__nav">
      <a href="https://www.linkedin.com/in/marinsekesan/" class="nav-item nav-item--big last" target="_blank">Contact</a>
    </p>

  </main>

</body>
</html>
