---
---

<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114351518-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114351518-1');
</script>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}

  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}

  <title>marinsekesan.com</title>
  <meta name="author" content="Marin Sekesan">
  <meta name="description" content="Melbourne based freelance Information Architect, Visual Designer and Brand Designer.">

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/marinulon.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">


  <!-- javascript -->
  {% include javascript.html %}

</head>
<body class="top">

  <header role="banner">

    <p class="header__nav">
      <a href="#top" class="logo is-scroll" rel="home">Marin Sekesan</a>
      <a href="#cv" class="nav-item is-scroll first">CV</a>
      <a href="#work" class="nav-item is-scroll">Work</a>
      <a href="mailto:me@marinsekesan.com" class="nav-item last">Contact</a>
    </p>

  </header>

  <section class="intro">

    <div class="intro__logo"></div>

    <h1 class="intro__title">Hi, I'm Marin Sekesan.<br />Melbourne based freelance IA, Visual and Brand Designer.</h1>

    <h2 class="intro__summary">I also play guitar in a band called <a href="http://kalacoma.com" target="_blank">Kalacoma</a>, build my own effects pedals, love vintage instruments, pizza and formula one.</h2>

    <p class="intro__nav">
      <a href="#cv" class="nav-item is-scroll nav-item--big first">CV</a>
      <a href="#work" class="nav-item is-scroll nav-item--big">Work</a>
      <a href="mailto:me@marinsekesan.com" class="nav-item nav-item--big last">Contact</a>
    </p>

  </section>

  <main role="main" class="gangster-wrapper">

    <section class="cv">

      <h2 id="cv" class="h">CV</h2>

      <div class="cv--img">

        <img src="{{ site.url }}/assets/marinsekesan.jpg" alt="Photo of Marin" />

      </div>
      <div class="cv--bio">

        <h3>With an education in both Graphic Design and Audio Engineering, I have spent the past 10 years developing my passion for functional design.</h3>

        <p>Delivering award winning digital designs for well established Australian organisations and innovative start-ups alike.</p>

        <p>My knowledge of web standards and compliant HTML5 and CSS3 enables me to design responsive, touch screen optimised interfaces that are accessible to as many people as possible.</p>

      </div>


      <div class="cv--exp">

        <h3>Experience</h3>

        <h4>MD Studio</h4>
        <p>Sound Engineer | 2004 - 2005</p>

        <h4>Freelance</h4>
        <p>Graphic Designer | 2007</p>

        <h4>Acorn Web</h4>
        <p>Visual and Brand Designer | 2008 - 2009</p>

        <h4>Weave</h4>
        <p>IA, Visual and Brand Designer  | 2010 - 2015</p>

        <h4>Freelance</h4>
        <p>IA, Visual and Brand Designer | 2015 - Current</p>

      </div>
      <div class="cv--awards">

        <h3>Awards</h3>
        <h4>Australian Web Awards</h4>
        <p>National Finalist: E-commerce | 2011</p>

        <h4>Australian Web Awards</h4>
        <p>National Finalist: Best Accessibility | 2012</p>

        <h4>Australian Web Awards</h4>
        <p>Victorian winner: Not for profit | 2013</p>

        <h4>Australian Web Awards</h4>
        <p>Victorian winner: Not for profit | 2014</p>

      </div>
      <div class="cv--quals">

        <h3>Qualifications</h3>

        <h4>Melbourne Polytechnic (NMIT)</h4>
        <p>CertIV in Audio Production | 2003</p>

        <h4>Tractor</h4>
        <p>AdvDip of Graphic Design | 2006 &amp; 2007</p>

        <div class="contact">
          <a href="mailto:me@marinsekesan.com">
            <h3 id="contact"><i class="fa fa-paper-plane"></i> Get in touch</h3>
            <p>I’m available for freelance work</p>
          </a>
        </div>

        <div class="social">
          <a href="http://twitter.com/marinsekesan" class="fa fa-twitter" target="_blank"><i class="h">Twitter</i></a>
          <!-- <a href="http://twitter.com/marinulon" class="fa fa-behance" target="_blank"><i class="h">Behance</i></a> -->
          <a href="http://instagram.com/marinsekesan" class="fa fa-instagram" target="_blank"><i class="h">Instagram</i></a>
          <a href="http://au.linkedin.com/in/marinsekesan" class="fa fa-linkedin" target="_blank"><i class="h">LinkedIn</i></a>
        </div>

      </div>

    </section>

    <section class="work">

      <h2 id="work" class="h">Work</h2>

      <ul class="folio">
        {% for post in site.posts %}<li
          class="folio__item"
          style="background-image:url({{ site.url }}/assets/{{ post.file_name }})">

          <a href="{{ post.url }}">{{ post.title }}</a>

        </li>{% endfor %}
      </ul>

    </section>

    <section class="work--expanded">
      <div class="work--expanded__collapse collapse-top" title="close">x</div>
      <div class="work--expanded__content"></div>
      <div class="work--expanded__collapse collapse-bottom" title="close">close</div>
    </section>

    <footer role="contentinfo">

      {% include footer.html %}

    </footer>

  </main>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script>
    $(document).ready(function() {

      // Header hidden
      $header = $('header');
      $header.hide();
      _headerHeight = $header.outerHeight();
      _windowHeight = $(window).height();

      $(window).scroll(function() {
        if( $(window).scrollTop() > _windowHeight) {
          $header.slideDown(500);
        } else {
          $header.slideUp(500);
        }
      });

      // Nav links
      $('.is-scroll').click(function() {
        _hash = this.hash.substr(1);
        _locationPosition = $("." + _hash).offset().top - _headerHeight;
        $('html, body').animate({scrollTop:_locationPosition}, 500);

        return false;
      });

      // Folio
      $expanded = $('.work--expanded');

      $('.folio__item a').click(function() {
        _url = $(this).attr('href');

        // Find and save the original scroll point
        _origPosition = $(this).offset().top - _headerHeight;
        sessionStorage.setItem('orig-position', _origPosition);

        $('.work--expanded__content', $expanded).load(_url + ' #article .article__body', function() {
          $('body').addClass('work--is-expanded');
          $expanded.fadeIn(500);
          $('html, body').animate({scrollTop:0}, 500);
        });
        
        // Don't follow click.
        return false;
      });

      $('.work--expanded__collapse', $expanded).click(function (){
        $('body').removeClass('work--is-expanded');
        $expanded.fadeOut(500);
        _origPosition = sessionStorage.getItem('orig-position');
        $('html, body').animate({scrollTop:_origPosition}, 500);
      });
    });
  </script>
</body>
</html>
